#carrusel {
    position: relative;
    left: 0;
    top: 0;
    float: left;
    width: 500px;
    overflow-x: hidden;
    z-index: 0;
}

#carrusel ul {
    position: relative;
    left: 0;
    list-style-type: none;
    padding: 0;
    margin: 0;
    width: 500%;
}

#carrusel ul li {
    display: inline-block;
    float: left;
}

#carrusel ul li img {
    border-radius: 15px;
    width: 100%;

}

#carrusel .move-arrow {
    position: relative;
    width: 5%;
    border: 0;
    border-color: black;
    border-style: solid;
    border-width: 1px;
    border-radius: 15px;
    background-color: rgba(0, 0, 0, 0.7);
    z-index: 1;
    top: 160px;
}

#left-arrow {
    left: 8px;
}

#right-arrow {
    left: 435px;
}
